body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #85C1E9;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #85C1E9;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background-color: #318CE7;
}

footer {
  background-color: #F2F2F2;
  color: #666;
  text-align: center;
  padding: 20px;
}
